.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.textarea {
  width: 90%;
  min-height: 2.5em;
  padding: 0px 10px;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
}

.statement {
  height: 1.4em;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  background-color: #395416;
  border-radius: 8px;
  margin-right: 10px;
}

.delbtn {
  display: flex;
  height: 2em;
  padding: 0px 4px;
  margin-right: 5px;
  font-size: x-small;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
}

.delbtn:hover {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.delbtn:active {
  box-shadow: 0 0 0 0;
}

.background {
  background-color: #feffc6;
}
