.editor {
  padding: 20px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statement {
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  background-color: #395416;
  border-radius: 5px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.ifButton {
  padding: 10px 10px;
  margin: 0 0 20px 10%;
  border: 1px solid #c3c3c3;
  background-color: #dcdcdc;
  border-radius: 10px;
  cursor: pointer;
}

.ifButton:hover {
  background-color: #cecaca;
  border-color: #c3c3c3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.ifButton:active {
  box-shadow: 0 0 0 0;
}
